$def_font: 'Roboto', Arial, sans-serif;
$def_black: #333333;
$def_white: white;
$back_color: white;
$main_font_size: 24px;
$borderR: 5px;
$def_shadow: 0 1px 0 rgba($def_white, .15), 0 1px 1px rgba($def_black, .075);
$width_content: 1200px;



